.logo {
    position: relative;
    background-color: var(--navy-2);
    height: 65px;
    border-bottom: 1px solid #937e7e59;
}

.logo img {
    height: 64px;
    object-fit: contain;
    width: 265px;
    margin-left: -28px;
}

.logo a {
    width: 100%;
    padding-right: 25px;
}