header{
    .header-area{
        // header-top
        .header-top{
            background-color: $pColor;
            .header-top-inner{
                @include flex (space-between,center,_,_);
                padding: 8px 0;
                // mobile menu hide
                .mobile-menu{
                    display: none;
                }
                
                // address
                .address{
                    // @include flex (space-between,_,50px,_);
                    di
                    span{
                        font-size: $smFont;
                        font-weight: $fw600;
                        color: $whiteColor;
                        i{
                            display: inline-block;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        
        
        // header main
        
        .header-main{
            padding: 15px 0;
            .header-main-area{
                @include flex(space-between,_,_,_);
                .logo{
                    width: 30%;
                    img{
                        width: 152px;
                    }
                }
                
                // main-nav
                .main-nav{
                    ul{
                        li{
                            display: inline-block;
                            margin-left: 16px;
                            
                            a{
                                font-weight: $fw600;
                                font-size: 16px;
                            }
                        }
                    }
                }
                // main-nav end
            }
        }
    }
}
@media (min-width: 300px){
    
    header{
    
    }    
}