/********************
****    Header    ****
********************/
.my-header {
    position: fixed;
    top: 0;
    left: 260px;
    width: calc(100% - 260px);
    height: 65px;
    background-image: var(--gradient-1);
    border-bottom: 1px solid #937e7e59;
    z-index: 1050;
    transition: .3s linear;
}

.my-header.active {
    left: 0px;
    width: 100%;
}

/* modal problems fixed */
/* Modal backdrop */
.modal-backdrop {
    z-index: 1040 !important;
}

/* Modal itself */
.modal {
    z-index: 1055 !important;
}

/* Modal dialog */
.modal-dialog {
    z-index: 1060 !important;
}

/* Modal content */
.modal-content {
    z-index: 1065 !important;
}


.my-header .menu-btn {
    transition: unset;
}

.my-header .menu-btn:hover {
    background-color: var(--gray);
}

.my-header .menu-btn i {
    transition: transform .25s linear;
}

.my-header .menu-btn:hover i {
    transform: rotate(180deg);
}

.my-header .profile-image {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid rgba(125, 125, 125, 0.74);
    padding: 2px;
}


/* Custom CSS to hide dropdown caret */
.no-caret::after {
    display: none;
}

/*_______  Notification  _________*/
.notification-items .profile-image {
    width: 48px;
    height: 48px;
}

.my-dropdown.notification-dropdown {
    width: 300px;
}

.my-header .notification-items li {
    border-bottom: 1px solid var(--white-off);
    position: relative;
    padding: 0 15px;
}


/* animation and new base */
.my-header .notification-items li .new {
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 3px;
    padding: 0px 4px;
    color: var(--white);
    background-color: var(--red);
    font-size: var(--fs-xs);
    animation: on-off 2s linear infinite alternate;
    transform-origin: center
}

.my-header .notification-items li:hover {
    background-color: var(--white-off);
}

/* scroll bar change color */
.my-header .my-dropdown.my-has-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
}

.my-header .my-dropdown.my-has-scrollbar:hover::-webkit-scrollbar {
    width: 6px;
}

/* notification base */
.base {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -16px;
    margin-left: 30px;
    background-color: var(--red);
    color: var(--white);
    font-size: 12px;
    animation: top-down .5s ease-in-out infinite;
}

.my-dropdown .my-flex-column {
    align-items: flex-start !important;
    justify-content: flex-start !important;
}






/**********************
****    Main Body  ****
**********************/
.main-body {
    margin-top: 65px;
    margin-left: 260px;
    width: calc(100% - 260px);
    background-color: var(--white);
    height: auto;
    padding-bottom: 20px;
    transition: margin .3s linear;
}

.main-body.active {
    margin-left: 0;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: var(--white-off2);
    border-left: 1px solid var(--light-gray);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
}

.body-top {
    background-image: var(--gradient-1);
    padding-top: 25px;
}

.body-top .my-card {
    padding: 12px 10px;
    color: var(--green);
}

.body-top .my-card .left {
    background-color: var(--red);
    padding: 12px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.body-top .my-card .content {
    width: calc(100% - 66px);
}

.body-top .my-card .my-sub-title {
    color: var(--gray);
}


/* filter-btn */
.filter-wrapper {
    padding-top: 40px !important;
    padding-bottom: 20px;
}

.body-top .my-title {
    margin-top: -60px;
}

.body-top .my-card {
    transition: .2s ease-in-out;
}

.body-top .my-card:hover {
    transition: .2s ease-in-out;
    transform: translateY(8px);
    background-color: var(--purple);
    color: var(--white-off2);
}

.body-top .my-card:hover .my-sub-title {
    color: var(--white);
}

.body-top-down {
    /* background-image: var(--gradient-2); */
    background-color: var(--white);

}

.body-top-down .my-card {
    padding: 30px 12px;
    transition: .5s;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
}


.body-top-down .my-card:hover {
    background-color: var(--white);
    color: var(--gray);
    transform: scale(.96);
    transition: .5s;
}

.body-top-down .my-card:hover .my-sub-title {
    color: var(--red);
}



/* body-middle */
.body-middle .my-card {
    border-top: 4px solid var(--orange);
    padding: 20px;
}

.body-middle .payment .my-card {
    border-top: 4px solid var(--sky);
}

.body-middle .payment-btns button {
    border: 1px solid var(--white-off2);
    color: var(--gray);
    font-weight: var(--fw-500);
}

.body-middle .payment-btns button:hover {
    border: 1px solid var(--gray);
    background-color: var(--white-off);
}

.body-middle .payment-btns button:focus {
    color: var(--navy-2);
}