/**********************
****    Main Body  ****
**********************/
.main-body {
    margin-top: 65px;
    margin-left: 260px;
    width: calc(100% - 260px);
    background-color: var(--white);
    height: auto;
    padding-bottom: 20px;
    transition: margin .3s linear;
}

.main-body.active {
    margin-left: 0;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: var(--white-off2);
    border-left: 1px solid var(--light-gray);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
}

.body-top {
    background-image: var(--gradient-1);
    padding-top: 25px;
}

.body-top .my-card {
    padding: 12px 10px;
    color: var(--green);
}

.body-top .my-card .left {
    background-color: var(--title-icon-color);
    padding: 12px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.body-top .my-card .content {
    width: calc(100% - 66px);
}

.body-top .my-card .my-sub-title {
    color: var(--gold);
}


/* filter-btn */
.filter-wrapper {
    padding-top: 40px !important;
    padding-bottom: 20px;
}

.body-top .my-title {
    margin-top: -60px;
}

.body-top .my-card {
    transition: .2s ease-in-out;
}

.body-top .my-card:hover {
    transition: .2s ease-in-out;
    transform: translateY(8px);
    background-color: var(--dark);
    /* color: var(--white-off2); */
}

.body-top .my-card:hover .content .my-text-purple {
    color: var(--white-off3);
}

.body-top .my-card:hover .my-sub-title {
    color: var(--white);
}

.body-top-down {
    /* background-image: var(--gradient-2); */
    background-color: var(--white);

}

.body-top-down .my-card {
    padding: 30px 12px;
    transition: .3s linear;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
    background-color: var(--navy);
}

.body-top-down .my-card .content {
    color: var(--gray-off);
    color: var(--gray-off);
}

.body-top-down .my-card .my-sub-title {
    color: var(--title-icon-color);
}

.body-top-down .my-card:hover {
    background-color: var(--purple);
    color: var(--gray);
    transform: scale(.96);
    transition: .3s linear;
}

.body-top-down .my-card:hover .my-sub-title {
    color: var(--title-icon-color);
}



/* body-middle */
.body-middle .my-card {
    border-top: 4px solid var(--title-icon-color);
    padding: 20px;
}

.body-middle .payment .my-card {
    border-top: 4px solid var(--title-icon-color);
}

.body-middle .payment-btns button {
    border: 1px solid var(--white-off2);
    color: var(--gray);
    font-weight: var(--fw-500);
}

.body-middle .payment-btns button:hover {
    border: 1px solid var(--gray);
    background-color: var(--white-off);
}

.body-middle .payment-btns button:focus {
    color: var(--navy-2);
}




/* my-common-table */
.my-common-table {
    max-width: calc(100%);
    overflow: auto;
    max-height: 500px;
    padding: 25px 0;
}

.my-common-table table .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}


.my-common-table table {
    min-width: 100%;
    border-collapse: collapse;
}





.my-common-table .action {
    text-align: right;
}

.my-common-table table thead tr {
    background-color: var(--purple);
}

.my-common-table table th {
    padding: 10px 6px;
    text-align: center;
    color: var(--white-off);
    font-weight: var(--fw-600);
    border-left: 1px solid var(--white-off);
}

.my-common-table table td {
    padding: 2px 6px;
    text-align: left;
    border: 1px solid var(--white-off);
    font-size: var(--fs-sm);
    text-align: center;
}